
<link href="/stylesheets/home.css" rel="stylesheet">

<footer class="footer py-5 mt-auto mt-10" style="background-color: #173d74;">
    <div class="container" style="color: aliceblue;">
        <div class="row">
            <div class="col-6">
                <!-- <h5>University Of South India</h5> -->
                <!-- <div id="pic"></div> -->
                <img src="/stylesheets/USI.png" type="text/css" style="width: 200px;height: 200px;display: inline-block;">
            </div>
            <div class="col-6">
                <h5 class="mb-4" style="color: aliceblue;">About USI</h5>
                <p>Contact USI</p>
                <p>About the University</p>
                <p>News</p>
                <p>Events</p>
                <p>Careers</p>
            </div>
        </div><hr>
        <div class="container text-center">
            <p class="text-muted mb-0 mt-5">&copy;USI</p>     
        </div>
    </div>
</footer>