<% layout('layouts/boilerplate.ejs') %> 
<link href="/stylesheets/course.css" rel="stylesheet">

<div class="row">
    <div class="col-4">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Courses</li>
            </ol>
        </nav>
        <h2>Programs & Applying</h2><hr>
        <p>Admission Requirements</p><hr>
        <a href="/application">Prepare your application</a><hr>
    </div>
    <div class="col-8">
        <div class="mb-5">
            <h1>FIND A PROGRAM & A SUPERVISOR</h1>
            <h3>USI offers graduate degrees in the following programs :</h3>
        </div>
        
        <div class="row row-cols-1 row-cols-md-2 ">
            <div class=" col mb-3">
              <div class="card">
                <img src="https://images.unsplash.com/photo-1515378960530-7c0da6231fb1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">Computer Science and Engineering</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#cse" aria-expanded="false" aria-controls="cse" >
                          Requirements
                        </button>
                      </h2>
                      <div id="cse" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul>
                                <li>Minimum 9 cgpa in the 10th standard</li>
                                <li>8 or higher cgpa in the 12th standard</li>
                                <li>EAMCET code: <strong>USIH</strong></li>
                            </ul>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class=" col mb-3">
              <div class="card">
                <img src="https://images.unsplash.com/photo-1517077304055-6e89abbf09b0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">Electronics and Communications Engineering</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ece" aria-expanded="false" aria-controls="ece" >
                          Requirements
                        </button>
                      </h2>
                      <div id="ece" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                        <ul>
                            <li>Minimum 9 cgpa in the 10th standard</li>
                            <li>8 or higher cgpa in the 12th standard</li>
                            <li>EAMCET code: <strong>USIH</strong></li>
                        </ul>
                    </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class=" col mb-3">
              <div class="card">
                <img src="https://images.unsplash.com/photo-1560574188-6a6774965120?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">Mechanical Engineering</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mech" aria-expanded="false" aria-controls="mech" >
                          Requirements
                        </button>
                      </h2>
                      <div id="mech" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul>
                                <li>Minimum 9 cgpa in the 10th standard</li>
                                <li>8 or higher cgpa in the 12th standard</li>
                                <li>EAMCET code: <strong>USIH</strong></li>
                            </ul>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class=" col mb-3">
              <div class="card">
                <img src="https://images.unsplash.com/photo-1473341304170-971dccb5ac1e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">Electrical Engineering</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#eee" aria-expanded="false" aria-controls="eee" >
                          Requirements
                        </button>
                      </h2>
                      <div id="eee" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul>
                                <li>Minimum 9 cgpa in the 10th standard</li>
                                <li>8 or higher cgpa in the 12th standard</li>
                                <li>EAMCET code: <strong>USIH</strong></li>
                            </ul>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class=" col mb-3">
                <div class="card">
                  <img src="https://images.unsplash.com/photo-1577404155672-19b9d81d25d9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" class="card-img-top" alt="">
                  <div class="card-body">
                    <h5 class="card-title">Civil Engineering</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                  </div>
                  <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#civil" aria-expanded="false" aria-controls="civil" >
                          Requirements
                        </button>
                      </h2>
                      <div id="civil" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul>
                                <li>Minimum 9 cgpa in the 10th standard</li>
                                <li>8 or higher cgpa in the 12th standard</li>
                                <li>EAMCET code: <strong>USIH</strong></li>
                            </ul>
                        </div>
                      </div>
                    </div>
                </div>
                </div>
              </div>
              <div class=" col mb-3">
                <div class="card">
                  <img src="https://images.unsplash.com/photo-1551244072-5d12893278ab?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80" class="card-img-top" alt="">
                  <div class="card-body">
                    <h5 class="card-title">Oceans and Land Engineering</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                  <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ocean" aria-expanded="false" aria-controls="ocean" >
                          Requirements
                        </button>
                      </h2>
                      <div id="ocean" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul>
                                <li>Minimum 9 cgpa in the 10th standard</li>
                                <li>8 or higher cgpa in the 12th standard</li>
                                <li>EAMCET code: <strong>USIH</strong></li>
                            </ul>
                        </div>
                      </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
          </div>
            
          
    </div>
</div>
