



<% layout('layouts/boilerplate')%>
<h1 class="text-center mb-5">Student Login</h1>



<div class="mx-auto container" style="width: 300px;">
<div class="ui card">
  <div class="image">
    <img src="https://images.unsplash.com/20/cambridge.JPG?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1030&q=80">
  </div>
  <div class="content">
    <div class="ui form">
      <form action="/login" method="POST">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="username">
              <!-- <div class="valid-feedback">
                  Looks good!
              </div> -->
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password">
              <!-- <div class="valid-feedback">
                  Looks good!
              </div> -->
          </div>
          <button class="fluid  ui button" style="background-color: #173d74; color: aliceblue;">Login</button>
      </form>
  </div>
  </div>
</div>
</div>