<% layout('layouts/boilerplate.ejs')%> 
<link rel="stylesheet" href="/stylesheets/thankyou.css">

<div class="wrapper"  contenteditable="false">
        <p style="text-align: center;"><img style="text-align: center;margin-top: 200px;"  class="notActiveTyIcon" style="display: none;" src="https://cdn.jotfor.ms/img/check-icon.png" alt="" width="128" height="128" /></p>
        <div style="text-align: center;">
        <h1 style="text-align: center;">Thank You!</h1>
        <p style="text-align: center;" id="p">Your submission has been received.</p>
       </div>
</div>
    