<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/stylesheets/events.css">

<div class="events ">
    <img style="width: 100%; height: 100%;" src="/stylesheets/events.jpeg" alt="">
    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-6">
            <h2 class="text-center mt-5">How USI excellence in Academics. Find out more.</h2><hr>
            <h4>Connect with your USI community. Whether you’re a student, faculty, staff or alumni, this site will connect you with a wide range of events happening on USI’s campuses.</h4><hr>
            <h3>Please check USI.com for official communication on Coronavirus (COVID-19) and USI’s response.</h3>
            <p class="mb-5 text-center">
                <button class="btn btn-lg btn-primary me-5" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample">ACADEMIC SPOTLIGHT</button>
                <button class="btn btn-lg btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">TODAY & TOMORROW</button>
            </p>
        </div>
        <div class="col-3"></div>
            <div class="collapse mb-3" id="collapseExample">
                <div class="card-group">
                    <div class="row row-cols-1 row-cols-md-4 g-4">
                        <div class="col">
                          <div class="card ">
                            <img src="https://images.unsplash.com/photo-1503676382389-4809596d5290?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Orange Shirt Day | National Day for Truth and Reconciliation</h5>
                              <p class="card-text">Engage with events and programming happening across UBC and within the community.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                            <img src="https://images.unsplash.com/photo-1577036421869-7c8d388d2123?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1600&q=80" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Women Empowerment Club: Girl Talk</h5>
                              <p class="card-text">RSVP to come paint rocks with the UBC WEC team + members, and discuss some pertinent women related topics.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                            <img src="https://images.unsplash.com/photo-1521742161220-fa485d0d53e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">USI Homecoming</h5>
                              <p class="card-text">UBC Homecoming is a celebrated tradition to kick-off the academic year and it’s our biggest school spirit event.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                            <img src="https://images.unsplash.com/photo-1523050854058-8df90110c9f1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">AMS Firstweek</h5>
                              <p class="card-text">AMS Firstweek takes place throughout September to welcome incoming and returning USI students to campus.</p>
                            </div>
                          </div>
                        </div>
                      </div>   
                </div>
            </div>
            <div class="collapse mt-5 ms-2" id="collapseExample1">
                    <div class="row">
                      <div class="col-6 ">
                          <h2>TODAY</h2><hr>
                          <h3>(cont) ->   Drift: Art and Dark Matter exhibition</h3><hr>
                          <h3>(cont)  ->  The Works of Michelangelo</h3><hr>
                          <h3>8:15 AM  -> USI CPD Virtual Allergy & Clinical Immunology Update 2021</h3><hr>
                          <h3>1:30 PM  -> MEDTalks: Unlocking Diabetes 100 Years After Insulin</h3><hr>
                      </div>
                      <div class="col-6 ">
                          <h2>TOMORROW</h2><hr>
                          <h3>(cont) ->   Drift: Art and Dark Matter exhibition</h3><hr>
                          <h3>(cont) ->   The Works of Michelangelo</h3><hr>
                      </div>
                    </div>
            </div>
    </div>
</div>

