<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/stylesheets/art.css">

<img style="width: 1300px; height: 450px;" class='img'src="/stylesheets/Art.jpeg" alt="">

<div class="art">
    <div class="row one">
        <div class="col-3"></div>
        <div class="col-9 mt-3">
            <h1 >Experience Your Arts & Culture District</h1>
        </div>
        <div class="row two">
            <div class="col-3"></div>
            <div class="col-6 mt-5">
                <h3>Immerse yourself in live music, theatre, opera, film, contemporary and fine art, a world-renowned Museum of Anthropology, and more.</h3>
            <p class="mt-3">The UBC Arts and Culture District educates and showcases student creatives and scholars, presents world-renowned performers, and is home to innovative public programs and international exhibitions. We also offer an annual Artivism Festival and International Women’s Day event.
                We hold the creative and performing arts as core to deep disciplinary knowledge and applied research, and as the key to a fulfilled and connected life.</p>
            </div>
        </div>    
        </div>
        <div class="col-3"></div>
    </div>
    <div class="news">
        <h2 class="mt-5">Featured News</h2><hr>
        <div class="row three mt-3 me-3">
            <div class="col-7">
                <img style=" width: 700px; height: 300px;"  src="https://images.unsplash.com/photo-1621886292650-520f76c747d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80" alt="">
            </div>
            <div class="col-5 mt-3">
                <h2>12 Arts events not to miss in September 2021</h2>
                <p>Welcome to a new school year! Don’t miss a string of exciting virtual and in-person activities happening this September: from first-week events like cooking classes, walking tours, and art exhibitions, there’s something for everyone.</p>
            </div>
        </div>
        <div class="row four mt-5">
            <div class="col-3">
                <h2 class="text-center mt-3">Cultural Spaces</h2>
                <p>The USI Arts and Culture District is home to many vibrant cultural spaces and venues across the performing and fine arts.</p>
                <a href="#"> View USI's cultural spaces -></a><div class="mb-5"></div>
            </div><div class="col-1"></div>
            <div class="col-3">
                <h2 class="text-center mt-3">Discounts</h2>
                <p>Students, faculty members, staff, alumni, and UTown cardholders receive discounts for many arts and cultural venues and events.</p>
                <a href="#">View arts and culture discounts -></a>
            </div><div class="col-1"></div>
            <div class="col-3">
                <h2 class="text-center mt-3">Volunteer</h2>
                <p>Gain free access to exciting events while meeting other students, faculty, and staff who are also passionate about the arts at UBC by volunteering with the UBC Arts & Culture District.</p>
                <a href="#">Sign up to Volunteer -></a>
            </div>
        </div>
    </div>
    
    <h2 class="mt-5">Upcoming Events</h2><hr>
    <div class="eve ">
        <div class="row  mt-5 ">
            <div class="col-7 ">
                <h2 class="mt-3">Shadows, Strings & Other Things</h2>
                <p>Wednesday December 9, 2020 - Friday December 31, 2021 </p>
            </div>
            <div class="col-5">
                <img style=" width: 500px; height: 300px;" src="https://images.unsplash.com/photo-1559813114-cda845612ae7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80" alt="">
            </div>
        </div><hr>
        <div class="row  mt-5 ">
            <div class="col-7 ">
                <h2 class="mt-3">Performance and Production</h2>
                <p>Sound House: Never Forgotten </p>
                <p>September 30,2021| 7:30</p>
            </div>
            <div class="col-5">
                <img style=" width: 500px; height: 300px;"  src="https://images.unsplash.com/photo-1470225620780-dba8ba36b745?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="">
            </div>
        </div><hr>
        <div class="row  mt-5 ">
            <div class="col-7">
                <h2 class="mt-3">Students</h2>
                <p>QUEER Coded: Slam + Spoken Word</p>
                <p>Wednesday December 9, 2020 - Friday December 31, 2021 </p>
            </div>
            <div class="col-5">
                <img style=" width: 500px; height: 300px;"  src="https://images.unsplash.com/photo-1485230895905-ec40ba36b9bc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="">
            </div>
        </div><hr>
    </div>
</div>


