<% layout('layouts/boilerplate') %> 
<!-- <link rel="stylesheet" href="/stylesheets/art.css"> -->

<div class="row">
    <div class="col-6">
        <div class="card bg-dark text-white" >
            <img src="https://images.unsplash.com/photo-1565689157206-0fddef7589a2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h1 class="card-title mt-3">How to handle a hectic situation</h1>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card bg-dark text-white" >
            <img src="https://images.unsplash.com/photo-1491308056676-205b7c9a7dc1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">Places to stay during winter break residence closure</h5>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card bg-dark text-white" >
            <img src="https://images.unsplash.com/photo-1596496050755-c923e73e42e1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1153&q=80" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">The ins and outs of English exam</h5>
            </div>
        </div>
    </div>
</div>


<div class="row mt-5">
    <div class="col-3">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1596496357042-310b4c402627?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">The finer points of research paper.</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1427504494785-3a9ca7044f45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">How to ask for help.</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1529007196863-d07650a3f0ea?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pushing ahead in the face of lower grades.</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Is grad school right for you?</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-3">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1570616969692-54d6ba3d0397?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1122&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Going Global: Exchange</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1520881363902-a0ff4e722963?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Going Global: Your options for choosing abroad.</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1122&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Semicolons, dashes, and commas, Oh my!</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
    </div>
    <div class="col-3">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1527689368864-3a821dbccc34?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Setting your sights in citations.</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
    </div>
</div>
<div class="ui center aligned basic segment">
    <div class="ui circular labels mt-5">
        <a class="ui blue label">
          1
        </a>
        <a class="ui label">
          2
        </a>
        <a class="ui label">
          3
        </a>
        <a class="ui label">
          4
        </a>
        <a class="ui label">
          ...
        </a>
      </div>
    
</div>
